header .head{
    background-color: rgb(88, 101, 242);
    height: 300px;
}

header .logo{
    position: relative;
    top: 20px;
    left: 20px;
    height: 35px;
}
header .p1{
    width: 400px;
    color: white;
    margin-left: 20px;
}

header .p2{
    width: 400px;
    color: white;
    margin-left: 20px;
    font-size: smaller;
}

header .navbar{
    display: inline;
    margin-left: 900px;
    
}

header .a1{
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}

header .a1:hover{
    color: black;
}

header .image1{
    width: 450px;
    height: 380px;
    position: relative;
    left: 973px;
    bottom: 140px;
}

header .hmm{
    color: black;
    margin: 5px 20px;
    font-size: 14px;
    font-weight: bolder;
}

header .a2{
    margin-right: 10px;
}

header .a2:hover{
    color: red;
    
}

main .a3{
    font-size: small;
    position: relative;
    top: 5px;
    text-decoration: none;
    color: black;
}
main .a3:hover{
    color: rgb(235, 80, 80);
}


main .a4{
    font-size: small;
    position: relative;
    top: 10px;
    text-decoration: none;
    color: black;

}
main .a4:hover{
    color: rgb(235, 80, 80);
}



main .div2{
    height: 125px;
    width: 200px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
    display: inline-block;
    contain: content;
}
main .div2:hover{
    transform: scale(1.2);
}
main .p3{
    margin-top: 0px;
}

main .p4{
    font-size: 11px;
    width: 250px;
    margin-top: 20px;
}

main .p5{
    font-size: 11px;
    width: 250px;
    margin-top: 37px;
}

main .image2{
    height: 30px;
    width: 30px;
}

body{
    cursor: pointer;
    margin: 0px
}
    
main .h2{
    margin-left: 20px;
}

main .image3{
    margin-left: 60px;
    width: 380px;
    height: 300px;
}
main .div3{
    height: 280px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    top: 41px;
    right: 3px;
    
}
main .p6{
    font-size: 12px;
    color: rgb(88, 101, 242);
    font-weight: bolder;
}
main .p7{
    font-size: 13px;
}

main .h3{
    font-size: large;

}
main .image4{
    position: relative;
    bottom: 19px;
    border: 5px solid white;
    border-radius: 50%;
}
main .p8{
    font-size: 13px;
    position: relative;
    left: 70px;
    top: 29px;
}

main .div4{
    margin-top: 90px;
    background-color: rgb(223, 230, 242);
    height: 350px;
}
main .image5{
    position: relative;
    bottom: 334px;
    left: 775px;
    height: 350px;

}

main .botton2{
    width: 150px;
    height: 35px;
    background-color: rgb(88, 101, 242);
    color: white;
    border: 1px;
    border-radius: 5px;
}


main .span1{
    font-weight: 400;
}
main .hi{
    width: 600px;
    height: 50px;
    position: relative;
    left: 700px;
    bottom: 55px;
    border: 1px solid white;
    border-radius: 20PX;
    background-color: rgb(223, 230, 242);
}

main .botton3{
    width: 180px;
    height: 45px;
    background-color: rgb(88, 101, 242);
    color: white;
    border: 1px;
    border-radius: 5px;
    position: relative;
    left: 510px;
    bottom: 55px;
    border-radius: 10px;
}
main .botton3:hover{
    transform: scale(0.9);
}
footer div{height: 280px;
    position: relative;
    top: 150px;
    background-color: rgb(88, 101, 242);
}


footer .logo2{
    margin: 70px;
    height: 50px;
    width: 145px;
}
footer .a4{
    color: white;
    text-decoration: none;
    position: relative;
    right: 230px;
    bottom: px;
    font-size: x-small;
    margin: 10px;
}
footer .a4:hover{
    color: red;
}
footer .image6{
    position:relative ;
    left: 500px;
    bottom: 60px;
    margin-left: 15px;
}
footer .a5{
    color: white;
    text-decoration: none;
    position: relative;
    left: 340px;
    bottom: 10px;
    font-size: x-small;
    margin: 10px;}
    footer .a5:hover{
        color: red;
    }